:root {
  --color-plum: #4A3036;
  --color-primary: #890726;
  --color-secondary: #4A3036;
  --color-light: #EFEFEF;
  --color-dark: #2A2A2A;
  --text-dark: #4A3036;
  --text-light: #EFEFEF;
  --container-width: 1200px;
}
